html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    /* background: url("../imgs/back3_7.png") no-repeat center center / cover ; */
    background-color: #e5eecc;
    background-attachment: fixed;
    
}

.container{
    /* background-color: rgb(255, 255, 255, 0.6);
    backdrop-filter:blur(5px); */
    padding: 5px 20px;
    height: 100%;
}

/* 表格 */
.grade{
    /* max-width: 90%; */
    padding: 10px 35px 10px;
    margin: 25px auto;
    /* background-color:#bbeb8b;
    border-radius: 8px; */
}

table{
    text-align: center;
}

table,
table th.number{
    background-color: #FCFAF2;
    color: #000;
}

table, th, tr, td{
    border: 2px solid #555;
}

table thead{
    font-size: 22px;
    background-color: #332d2c;
    color: #FCFAF2;
}

table tbody{
    font-size: 20px;
}

p{
    margin: 0;
}

p.time{
    font-size: 24px;
    font-weight: 700;
}


/* 收合部分 */
.flip{
    margin:0px;
    /* padding:5px; */
    text-align:center;
    /* background:#E09697; */
    cursor:pointer;
    font-family:'Arial';
}

/* td.show{
    max-width: 350px;
} */

.block{
    max-width: 260px;
    width: 100%;
    margin: auto;
    padding: 5px;
    text-align: left;
    font-weight: 800;
    background:#e5eecc;
    border:solid 1px #c3c3c3;
    display:none;
    font-family:'Arial';
    box-sizing: border-box;
}

img.picture{ /* 圖片的【直向橫向】可能會有問題 */
    width: 200px;
    height: 300px;
    margin: 8px 0 10px;
    margin: 8px auto 10px;
    display: block;
    /* block , 左右 margin auto => 水平置中 */
}


/* 無使用紀錄 */
div.pos{
    background-color:  rgb(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
}

div.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

div.svgPic{
    width: 100px;
    height: 100px;
    margin: auto;
}

svg {
    background-color: #fff;
}

/* #icon-page .page-outline {
    -webkit-animation-name: line1;
    animation-name: line1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
} */

#icon-page .page-line {
    -webkit-animation-name: line1;
    animation-name: line1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    stroke-dashoffset: 1000;
    stroke-dasharray: 1000;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

/* @-webkit-keyframes line1 {
    to {
            stroke-dashoffset: 0;
    }
}

@keyframes line1 {
    to {
            stroke-dashoffset: 0;
    }
} */

p#noLog{
    margin-top: 1.2em;
    font-size: 32px;
    font-weight: 500;
}