html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    background: url("../imgs/back3.png") no-repeat center center / cover ;
    /* 對子層物件(class = login)的設定 */
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color:#fff;
}

.login{
    max-width: 700px;
    border-radius: 8px;
    background-color: rgba(255,255,255,.8);
    backdrop-filter:blur(5px); /* 使背景模糊，呈現霧面(毛玻璃效果) */
    box-shadow: 0 0 60px #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 8px;
    box-sizing: border-box;
    font-weight: bolder;
}

.error{
    font-size: 22px;
    color: red;
    font-weight: bolder;
    padding: 0;
    margin:5px 0 10px;
    text-align: center;
}

form .group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form .group .inp{
    width: 85%;
    height: 1.8em;
    margin: 0.5em;
    border: 1px solid #888;
    background-color: #eee;
    line-height: 3.5;
    border-radius: 5px;
    font-size: 22px;
    padding-left: 10px;
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #555;
}

form .btn-group{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

form .btn-group .btn{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    font-family: Microsoft Jhenghei, sana-serif;
    border-radius: 5px;
    margin: 15px 10px 35px;
    padding: 8px 0;
    box-shadow: 5px 8px 20px #333;
}

