html,body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body{
    background: url("../imgs/back3_7.png") no-repeat center center / cover;
    /* 對子層物件(class = login)的設定 */
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color:#fff;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form h2{
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 8px;
    box-sizing: border-box;
    font-weight: bolder;
    color: #fff;
}

.error{
    font-size: 22px;
    color: #f00;
    background-color: rgba(255,255,255,.8);
    font-weight: bolder;
    padding: 0;
    margin:5px 0 10px;
    text-align: center;
}

form .group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 10px;
}

form .title{
    font-weight: 700;
    color: #fff;
    font-size: 24px;
}

form .group .inp{
    border-bottom: 2px solid #666;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #555;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #555;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #555;
}

form .btn-group{
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

form .btn-group .btn{
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 500;
    font-family: Microsoft Jhenghei, sana-serif;
    border-radius: 5px;
    margin: 15px 10px 35px;
    padding: 8px 0;
}

